body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    direction: rtl;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
}